h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.title > h1 {
  margin: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.container > * {
  width: 70%;
}
